<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/foundation.css">-->
    <link rel="stylesheet" type="text/css" href="../css/google.css">
</head>
<body>
<div class="fill" id="container">
    <div id="top">
        <div class="bot as">
            <div class="one underline">About</div>
            <div class="one underline">Store</div>
        </div>
        <div class="bot giis">
            <div class="two underline">Gmail</div>
            <div class="two underline">Images</div>
            <div class="two" id="box"><img src="../images/blocks.png"></div>
            <div class="two" id="signbutton">Sign In</div>
        </div>
    </div>
    <div id="middle">
        <div id="google"><img src="../images/google.png"></div>
        <div id="search"><input type="text"></div>
        <div class="graybuttons">
            <div class="boooton" id="gooch">
                Google Search
            </div>
            <div class="boooton" id="lucky">
                I'm Feeling Lucky
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="bot ab">
            <div class="underline">Advertising</div>
            <div class="underline">Business</div>
        </div>
        <div class="bot pts">
            <div class="two underline">Privacy</div>
            <div class="two underline">Terms</div>
            <div class="two underline">Settings</div>
        </div>
    </div>
</div>
</body>
</html>