<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intuit</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/intuit.css">
</head>
<body>
<div id="container">
    <div class="top">
        <div class="topwords">
        <div>
            Already have an Intuit account?
        </div>
        <div class="blue">
            I forgot my User ID or Password
        </div>
        </div>
        <div>
            <div class="lock">
                <img src="../images/lock.png">Sign In
            </div>

        </div>
    </div>
    <div class="midone">
        <div class="int">
            <img src="../images/intuit.svg">
        </div>
        <div class="tqm">
            <img src="../images/tqm.png">
        </div>
    </div>
    <div class="midtwo">
        <div class="whitebox">
            <div class="head"><h1>One Account.<br> Everything Intuit.</h1></div>
        </div>
        <div class="below text">Create an account for all of Intuit's products<br> including Mint. <span class="underline blue">Learn more</span></div>

        <div class="formthing">
        <div class="email">
            Email address<br>
            <div class="input"><input type="text"></div>
        </div>
        <div class="phone">
            Phone (recommended)<br>
            <div class="inputphone input"><input type="text"><br>
                <span class="textsmall">Standard call, messaging or data rates may apply.</span></div>

        </div>
        <div class="password">
            Password<br>
            <div class="input"><input type="text"></div>
        </div>
        </div>

        <div class="createaccount">
            <div class="lock lock2"><img src="../images/lock.png">Create Account</div>
        </div>
        <div class="space text">By clicking Create Account, you agree to our<br>
            <span class="blue underline">License Agreement</span> and have read and acknowledge<br>
            our <span class="blue underline">Privacy Statement</span>.</div>
        <div class="textsmall graybot">
            Invisible reCAPTCHA by Google <span class="blue underline">Privacy Policy</span> and <span class="blue underline">Terms of Use</span>.
        </div>
    </div>


    <div class="bottom">
        <div class="lps">
            <div class="three underline">
                Legal
            </div>
            <div class="three underline">
                Privacy
            </div>
            <div class="three underline">
                Security
            </div>
        </div>
        <div class="text">
            <p>
                © 2019 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are
                registered trademarks of Intuit Inc.<br> Terms and conditions, features, support, pricing, and service
                options subject to change without notice.
            </p>
        </div>
    </div>
</div>
</body>
</html>